* {
    color: #D39054;
    font-family: "Lacquer", system-ui;
        font-weight: 400;
        font-style: normal;
 }

 body {
    background-color: #472A19;
    color: #D39054;
}
   
.navbar {
    
    font-size: 26px;
  }

.navbar-brand img {
    max-width: 100px;
}

.navbar-nav {
    align-items: center;
}


.navbar .navbar-nav .nav-link {
    color: #D39054;
    font-size: 1.1em;
    padding: 0.5em 1em;
}


.navbar .navbar-nav .nav-link:hover {
    color: azure;
}



/* Changed coloe of toggler button*/
.custom-toggler.navbar-toggler  {
    border-color: orange;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,165,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }


  h1 {
    font-family: "lacquer", system-ui;
    color: orange;
    font-size: 100px;
    } 

.slogan {
    margin: 30px;
}
.slogan p{
    
    font-size: 65px;
    text-align: center;
    color: orange;
}

.slogan button {
    
    border: 1px solid orange;
}



.carousel-item {
    height: 550px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: orange;
}

.deals {
    
    font-size: 36px;
    color: orange;
    margin: 20px;
}
.deals h2 {
    font-size: 65px;
}

.coutdownsection p{
    
    font-size: 65px;
    color: orange;
}

/*.coutdown button {
    font-family: "Lacquer", system-ui;
    border: 1px solid orange; 
}
*/
.menu h2{
color: orange;
text-align: center;
font-size: 65px;
}
/*
.menu-item {
    background-color: orange;
}
        
        .card {
            width: 400px; 
            flex-direction: column;
            justify-content: center; 
            background-color: azure;
            border-radius: 10px;
            overflow: hidden;
            margin: 20px;
            }
    
    
    
        .card img{
            width: cover;
            height: auto;
            margin-top: 0px;
            border-radius: 10px
        }
    
    
        .card-content {
         
            border-radius: 10px;
            overflow: hidden;
            margin: 20px;
        }
        .card-content h3 {
            font-size: 30px;
            font-family: lacquer;
            
            margin-bottom: 10px;
        }
        .card-content p {
            font-size: 15px;
        }
        
        .card-content .btn{
            display: inline-block;
            padding: 8px 16px;
            background-color: orange;
            border-radius: 5px;
            margin-top: 16px;
            color: white;
        
        }
        */
    
    .btn {
        color: orange;
        background-color: #472A19;
        border: none;
        font-size: 26px;
    }
    
    .btn:hover {
        background-color: orange;
        color: black;
    }
    
    .modal {
        color: orange;
        
    }
    
    .modal-content {
        background-color: #472A19;
        color: orange;
    }
    
    .findus h2{
        
        font-size: 30px;
        color: orange;
        text-align: center;
        margin: 20px;
    
    }

    .findus p {
        font-size: 26px;
        color: orange;
        text-align: center;
        margin: 20px;
    }
    
    footer {
      margin: 35px;
    }

    .findus h2  {
        font-size: 55px;
    }
    
    footer .social-links  a {
        margin: 0 20px;
        font-size: 24px;
        padding: 10px 15px;
        border-radius: 90px;
        color: white;
        transition: all 100ms ease-in-out;
    }
    
    footer .social-links a:hover {
    color: #D39054;
    background-color: white;
    }
    
    @media screen and (max-width: 772px) {
        .navbar-brand img {
            max-width: 60px;
        }
     .navbar-brand {
            margin-right: 0;
            padding: 0 1em;
        }   

        .hero {
            background-image: url('./assets/images/hero.jpg');
        
        max-height: 300px; 
        background-size: cover;
        }

        h1 { 
            font-size: 30px;
        }

        .slogan {
            margin: 15px;
        }

        .slogan p {
            font-size: 30px;
        }
        .carousel-item {
            max-height: 300px;
        }
        .deals h2 {
            font-size: 30px;
        }

        .menu h2 {
            font-size: 30px;
        }
        .coutdownsection p{
            font-family: "Lacquer", system-ui;
            font-size: 30px;
            color: orange;
        }
    }